<div class="form-group">
  
  <label for="title">Gig Title</label>
  <input
    required
    value="<%= article.title %>"
    type="text"
    name="title"
    id="title"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="description">Gig Introduction</label>
  <textarea name="description" id="description" class="form-control">
<%= article.description %></textarea
  >
</div>
<div class="form-group">
  <label for="markdown">Details about your gig</label>
  <textarea required name="markdown" id="markdown" class="form-control">
<%= article.markdown %></textarea
  >
</div>

<a href="/" class="btn btn-secondary m-3">Cancel</a>
<button type="submit" class="btn btn-primary m-3">Save</button>
